<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Editar transportista</title>
</head>
<body>
<h2>Editar Transportista</h2><hr/>
<form method="post" th:action="@{'/shipper/guardar'}">
  <input th:value="${transportista.shipperid}" name="shipperid" type="hidden">
  <div class="form-group">
    <label for="companyname">Nombre de la compañía</label>
    <input th:value="${transportista.companyname}" name="companyname" type="text" class="form-control" id="companyname">
  </div>
  <div class="form-group">
    <label for="phone">Teléfono</label>
    <input th:value="${transportista.phone}" name="phone" type="text" class="form-control" id="phone">
  </div>
  <a th:href="@{'/shipper/listar'}" class="btn btn-danger">Cancelar</a>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</body>
</html>